[submodule "binwalk"]
	path = binwalk
	url = https://github.com/ReFirmLabs/binwalk
[submodule "firmware-mod-kit"]
	path = firmware-mod-kit
	url = https://github.com/brianpow/firmware-mod-kit
[submodule "firmadyne"]
	path = firmadyne
	url = https://github.com/firmadyne/firmadyne
[submodule "firmwalker"]
	path = firmwalker
	url = https://github.com/craigz28/firmwalker
